
  <nav>
    <div class="sidebar-button">
      <!-- <i class='bx bx-menu sidebarBtn'></i> -->
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="profile-details">
      <span class="admin_name">1 Year</span>
      <i class='bx bx-chevron-down' style="float: left;"></i>
    </div>
    <div class="action-icons">
      <i class='bx bx-cog' style="font-size: 1.5rem;"></i>
      <i class='bx bx-bell' style="font-size: 1.5rem;"></i>
      <i class='bx bx-user-circle' style="font-size: 2rem;"></i>
    </div>
  </nav>

  <div class="breadcrum">
    <div class="segment">
      Dashboard
    </div>
    <div class="segment-right">
      Home
    </div>
  </div>

  <div>
    <div class="wrapper">
      <div class="blocks custom">
        <div class="overview-boxes">
          <div class="box">
          </div>
          <div class="box">
          </div>
          <div class="box">
          </div>
        </div>
        <div class="overview-boxes2">
          <div class="box">
          </div>
          <div class="box">
          </div>
        </div>
      </div>

      <div class="blocks">
        <div class="card">
          <p class="head-p">Assistant Name</p>
          <div class="grey">
            <h1>John Doe</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem velit ducimus quam nesciunt
              error quisquam</p>
          </div>
          <div>
            <h3>Average Call handled</h3>
            <ul class="cont">
              <li>
                <div class="t-left">
                  Lorem, ipsum
                </div>
                <div class="t-right">
                  10 calls per/hr
                </div>
              </li>
              <li>
                <div class="t-left">
                  Lorem, ipsum
                </div>
                <div class="t-right">
                  10 calls per/hr
                </div>
              </li>
            </ul>
            <div style="padding: 1rem;">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, commodi doloribus? Maxime </p>
            </div>
            <div class="button-list">
              <button>Investigation Changes in usage</button>
              <button>Change Service Plan</button>
              <button class="prime">Analysis usage in <strong>Data Center</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

